/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navbar_buttons {
    display: flex;
    justify-content: flex-end;
}

#navbar_link a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

#navbar_link a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td, th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.mensaje {
    text-align: center;
    color: #e74c3c;
    font-size: 18px;
}

.pedido {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    border-top: 2px solid #34495e;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #f39c12;
}

/* Estilos para los estados de los pedidos */
.EN-ESPERA {
    background-color: yellow;
    font-weight: bold;
    color: #333;
}

.LAVANDO {
    background-color: #add8e6;
    font-weight: bold;
    color: #333;
}

.SECANDO {
    background-color: #ffcccb;
    font-weight: bold;
    color: #333;
}

.PLANCHANDO {
    background-color: #98fb98;
    font-weight: bold;
    color: #333;
}

.LISTO-PARA-ENTREGAR {
    background-color: #ffe4b5;
    font-weight: bold;
    color: #333;
}

.ENTREGADO {
    background-color: #90ee90;
    font-weight: bold;
    color: #333;
}
